 <%= form_for [list, todo] do |f| %>
   <div class='row'>
    <div class='col-md-8'>
      <%= f.label 'Add your to-do:' %>
      <%= f.text_field :description %>
    </div>
  </div>
 
   <%= f.submit "Save", class: 'btn btn-success' %>
 <% end %>